@page
@model EntApp_1.Pages.DataTypeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataType</title>
</head>
<body>
</body>
</html>
